{
	"extends": ["react-app", "prettier", "prettier/react"],
	"rules": {
		"jsx-quotes": [1, "prefer-double"],
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		// "react/prop-types": 0,
		"func-names": 0,
		"import/prefer-default-export": 0,
		"react/jsx-props-no-spreading": 0
		// "no-unused-vars": 0
	},
	"plugins": ["prettier"]
}
