@import '../../css/colors.scss';
@import '../../css/fonts.scss';

.menu {
	width: 100%;
	height: 90px;
	box-sizing: border-box;
	background: $main-color;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
