@import '../../../css/colors.scss';
.wrapper-menu {
	width: 100%;
	height: 90px;
	background-color: $main-color;
}
.menu {
	width: 100%;
	height: 90px;
	background: $main-color;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__list {
		display: flex;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-right: 59px;
		cursor: pointer;

		&--active {
			padding: 10px 13px;
			border: 1px solid;
			border-image-source: linear-gradient(to left, #9c6d41, #dcad68, #9c6d41);
		}
	}

	&__link {
		color: $light-color;
		// font-family: ;
		font-size: 18px;
		text-decoration: none;
		margin-left: 9px;
	}
}
