@import './fonts.scss';
@import './colors.scss';
// TEXT
.text-light {
	color: $light-color;
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.main-block {
	width: 100%;
	background: $main-color;
}

.border-gradient {
	border-image-slice: 1 !important;
}

.bg-main {
	background: $main-color;
}

.hide {
	display: none;
}

.svg {
	transition: 0.2s;
}

.rotate180 {
	transform: rotate(180deg);
}

.products-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 88px;

	& button {
		margin-top: 88px;
	}
}
