@import './fonts.scss';
@import './colors.scss';

body {
	background: $main-color;
}

.text-light {
	color: $light-color;
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.main-block {
	width: 100%;
	background: $main-color;
}

.border-gradient {
	border-image-slice: 1 !important;
}

.gradient-text {
	background-clip: text;
	-webkit-text-fill-color: transparent;

	&--gradient {
		background-image: $gradinet;
	}

	&--to {
		background-image: $gradientTo;
	}
}

.bg-main {
	background: $main-color;
}

.hide {
	display: none;
}

.rotate180 {
	transform: rotate(180deg);
}

.products {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 88px;

	& button {
		margin-top: 88px;
	}
}

.letter-spacing {
	letter-spacing: 0.32px;
}

@media (max-width: 1600px) {
	.container {
		max-width: 85%;
	}
}
