@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
	font-family: 'CorsicaRegular';
	// адрес шрифта и тип
	src: url('../fonts/CorsicaRamblerLX/Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'WilliamRegular';
	src: url('../fonts/WilliamTextPro/WilliamTextProReg.ttf');
}
$OpenSans: 'Open Sans', sans-serif;
$CorsicaRegular: 'CorsicaRegular', sans-serif;
$WilliamRegular: 'WilliamRegular';
