@import '../../css/colors.scss';
@import '../../css/fonts.scss';

.section {
	background: $main-color;

	&__title {
		font-family: $OpenSans;
		font-weight: bold;
		font-size: 26px;
		line-height: 35px;
		letter-spacing: 0.32px;
		color: #fff;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-smi {
		padding-top: 120px;
	}

	&-contact {
		padding-top: 84px;
		padding-bottom: 130px;
	}
}
