@import '../../css/colors.scss';
@import '../../css/fonts.scss';
.sorting-panel {
	margin: 40px 0;
	width: 100%;
	height: 400px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 20px;
	background: $dark-color;
	box-sizing: border-box;

	&-input {
		width: 95px;
		height: 100%;

		display: flex;
		justify-content: space-around;
		align-items: center;

		background: $light-dark-color;

		border: 1px solid #333333;
		box-sizing: border-box;
		border-radius: 8px;

		&__text {
			width: 10px;

			font-family: $OpenSans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;

			color: $grey;
		}
		&__input {
			width: 50px;
			background: transparent;
			border: none;
			outline: none;

			color: #fff;
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
	&-block {
		margin: 0 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&__label {
			margin: 10px 0;
			font-family: $OpenSans;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;

			color: #fff;
		}

		&__dropdown {
			width: 100%;
			height: 45px;

			display: flex;
			justify-content: center;
			align-items: center;

			padding: 0 10px;

			background: $light-dark-color;

			border: 1px solid #333333;
			border-radius: 8px;

			box-sizing: border-box;
		}

		&-slider {
			width: 100%;
			height: 45px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
