.media-cards {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

@media (max-width: 1600px) {
	.media-cards {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
